In [47]:
import mysql.connector 

conn = None
def connect():
    global conn
    conn = mysql.connector.connect(host="localhost", user="root", password="1234", database="final")
    return conn

In [49]:
cursor = connect().cursor()
query1 = """
SELECT m.make_name, COUNT(m.make_name) as cars_per_make from make m, 
vehicle v where m.make_id = v.make_id GROUP BY 
 m.make_name ORDER BY cars_per_make;
 """
 
cursor.execute(query1) 
table = cursor.fetchall() 
 
print('\nNo of cars per make:') 
for row in table: 
    print(row) 
    
cursor.close() 
con.close()

No of cars per make:
('Honda', 3931)
('Toyota', 3986)
('Ford', 3996)
('Chevrolet', 4019)
('Nissan', 4068)

In [50]:
cursor = connect().cursor()
query2 = """
SELECT v.model, AVG(vp.rating) as rating FROM vehicle_performance vp, vehicle v WHERE vp.vehicle_id = v.vehicle_id
GROUP BY v.model HAVING rating > 7.5 ORDER BY rating DESC;
 """
 
cursor.execute(query2)  
table = cursor.fetchall() 
  
print('\nModels having an average rating of more than 7.5:') 
for row in table: 
    print(row) 
    
cursor.close() 
con.close()

Models having an average rating of more than 7.5:
('F-150', 7.895719844357992)
('Civic', 7.860094850948511)
('Altima', 7.857857142857158)
('Corolla', 7.8418582375479)
('Silverado', 7.823996350364964)

In [51]:
cursor = connect().cursor()
query3 = """
SELECT status, COUNT(client_id) as count_of_clients FROM client_account GROUP BY status;
 """
 
cursor.execute(query3)  
table = cursor.fetchall() 
  
print('\nNo of clients in active, suspended or inactive status:') 
for row in table: 
    print(row) 
    
cursor.close() 
con.close()

No of clients in active, suspended or inactive status:
('Active', 3331)
('Suspended', 3355)
('Inactive', 3314)

In [52]:
cursor = connect().cursor()
query4 = """
SELECT model, AVG(price) as avg_price_per_model FROM vehicle GROUP BY model 
ORDER BY avg_price_per_model;
 """

cursor.execute(query4)  
table = cursor.fetchall() 
  
print('\nAverage price per model :') 
for row in table: 
    print(row) 
    
cursor.close() 
con.close()

Average price per model :
('Altima', Decimal('29935.8680'))
('F-150', Decimal('30037.0822'))
('Silverado', Decimal('30077.8474'))
('Corolla', Decimal('30087.4204'))
('Civic', Decimal('30310.4454'))

In [53]:
cursor = connect().cursor()
query5 = """
SELECT year, COUNT(*) as cars_sold FROM vehicle GROUP BY year ORDER BY cars_sold DESC;
 """

cursor.execute(query5)  
table = cursor.fetchall() 
  
print('\nCars sold per year :') 
for row in table: 
    print(row) 
    
cursor.close() 
con.close()

Cars sold per year :
(2021, 1605)
(2019, 1562)
(2016, 1559)
(2014, 1555)
(2013, 1553)
(2015, 1543)
(2022, 1536)
(2020, 1531)
(2010, 1521)
(2017, 1516)
(2012, 1512)
(2018, 1504)
(2011, 1503)

In [54]:
cursor = connect().cursor()
query6 = """
SELECT state, COUNT(*) as no_of_states FROM store GROUP BY state ORDER BY no_of_states DESC;
 """

cursor.execute(query6)  
table = cursor.fetchall() 
  
print('\nNo of stores per state:') 
for row in table: 
    print(row) 
    
cursor.close() 
con.close()

No of stores per state:
('CA', 421)
('TX', 385)
('FL', 301)
('PA', 197)
('NY', 195)
('GA', 151)
('VA', 150)
('IL', 145)
('NC', 140)
('OH', 138)
('NJ', 123)
('IN', 102)
('MI', 101)
('MA', 99)
('MD', 93)
('TN', 86)
('MO', 83)
('WA', 81)
('KY', 77)
('LA', 72)
('SC', 71)
('AZ', 71)
('CO', 62)
('CT', 61)
('OR', 58)
('AL', 57)
('WI', 55)
('NV', 55)
('MN', 45)
('MS', 42)
('OK', 41)
('UT', 39)
('WV', 37)
('KS', 34)
('HI', 30)
('AR', 28)
('IA', 27)
('NH', 26)
('NM', 23)
('ME', 22)
('ID', 21)
('PR', 21)
('NE', 17)
('RI', 15)
('DE', 15)
('MT', 15)
('ND', 12)
('WY', 9)
('DC', 8)
('VT', 8)
('AK', 7)
('SD', 6)